
<div class="d-flex justify-content-center"> 

    <div class="card text-center w-50 card-custom">
      <div class="card-header">
        Calculateur de cartes
      </div>
      <div class="card-body ">
        <form [formGroup]="giftForm" (ngSubmit)="onSubmitForm()">
          <div class="row">
            <div class="col"></div>
            <div class="col"> Montant désiré :</div>
            <div class="col"></div>
          </div>
          <div class="row d-flex align-items-center">
            <div class="col"></div>
            <div class="col mb-3"> 
              <input type="number" class="form-control input-number-custom" formControlName="wantedAmount">
            </div>
            <div class="col text-start"> 
              <div>
                <button  type="button" class="btn btn-success mb-1"
                style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .6rem; --bs-btn-font-size: .80rem;" 
                >+</button>
              </div>
              <div>
                <button type="button" class="btn btn-danger mb-3"
                style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .7rem; --bs-btn-font-size: .80rem;" 
                >-</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col"></div>
            <div class="col"> 
              <button type="submit" class="btn btn-primary">Valider</button>
            </div>
            <div class="col"></div>
          </div>
        </form>
          <!---->
        <hr>
        <div class="row">
          <p>Votre montant est composé des cartes suivantes :</p>
        </div>
        <!-- 
          Todo: For chaque éléménts du tableau cards créer une ligne pour chaque entrée et ajouter la partie multiplicateur si un nombre est en plusieurs exemplaires
        -->
        <div class="row">
          <p>20 x2</p>
        </div>
      </div>
  </div>